@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");

/*! CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ! Colors */

:root {
  --clr-dark: #202020;
  --clr-light: #dedede;
  --clr-gray: #959595;
  --clr-white: #ffffff;
  --clr-dark-light: #323232;
}

html {
  font-family: "Manrope", sans-serif;
}

main {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  min-height: 100vh;
}

.container {
  padding: 0 5rem;
}

/* ! Grid System */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

/*
  * Header
*/

.header {
  padding-block: 1rem;
  background-color: var(--clr-dark-light);
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  gap: 2.5rem;
}

nav > ul li a {
  color: var(--clr-light);
  text-decoration: none;
}

nav > ul li a:hover {
  color: var(--clr-white);
}

/* Home */

.home {
  margin: 5rem 0rem;
}

.l-side {
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.l-side h2 {
  font-size: 3rem;
  color: var(--clr-white);
  font-weight: 700;
}

.l-side p {
  font-size: 1rem;
  color: var(--clr-gray);
  font-weight: 400;
}

.btn {
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 5rem;
  background-color: var(--clr-gray);
  color: var(--clr-white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.btn p {
  color: var(--clr-white);
}

.r-side {
  grid-column: 7/12;
}

/* Mobile Header */

.featured {
  display: flex;
  flex-direction: column;
}

.featured-work {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  align-items: center;
}

.featured-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}

.visual,
.projects {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
  text-align: center;
}

.visual-gallery,
.projects-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.contact {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

footer {
  border-top: 0.1rem solid var(--clr-gray);
  margin-top: 5rem;
}

.wrapper {
  padding-block: 3rem;
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
  gap: 2rem;
}

.sm svg {
  width: 5rem;
  font-size: 4rem;
  height: 100px;
}
