@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");

/*! CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! Colors */

:root {
  --clr-dark: #292929;
  --clr-light: #dedede;
  --clr-gray: #959595;
  --clr-white: #ffffff;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  min-height: 100vh;
  padding: 0 3rem;
  /* ! Grid System */

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
